.text{
    text-align: center;
    font-size: 80px;
    color: rgb(248, 135, 7);
}
.para{
    color: Black;
    text-align: center;
    font-size: 80px;
}
.img1{
    padding-left: 120px;
    padding-top: 160px;
}
.new{
    background-color: lightgrey;
  width: 300px;
  border-style: outset;
  padding: 70px;
  margin: 10px;
  margin-right: 250px;
  margin-top: 170px;
   float: right;
}
.nest{
    margin-left: 300px;
    margin-top: 60px;
}